*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: DodgerBlue;
    padding: 10px;
    height: 500px;
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */

    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* flex-direction: row; */
    /* flex-direction: column; */

    /* flex-direction: row-reverse; */
    /* align-items: flex-end; */
    /* align-items: flex-center; */
    /* align-items: flex-start; */
    /* align-items: stretch; */
    /* align-items: baseline; */

    /* align-content: center; */
    /* align-content: space-between; */


}

section div{
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: 10px;
}
#box1{
    order: 1;
}
#box3{
    order: 2;
}